{% extends "/template/administrator/template.twig" %}

{% block content %}

    {% include '/template/flash_message.twig' %}
    <h4 class="mg-b-0 tx-spacing--1">Formulário do Usuário</h4>

    <form action="{{ url_for('manager.user.post') }}" method="post" enctype="multipart/form-data">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-20">
                    <input placeholder="Nome"  name="name" class="form-control" required aria-required="true" type="text">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-20">
                    <input placeholder="E-mail"  name="email" class="form-control" required aria-required="true" type="text">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-20">
                    <input placeholder="Senha"  name="password" class="form-control" required aria-required="true" type="password">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-20">
                    <input placeholder="Confirmar Senha"  name="password_confirmation" class="form-control" required aria-required="true" type="password">
                </div>
            </div>
        </div>

        <div style="text-align: right;" class="">
            <button class="btn btn-primary">Salvar Usuário</button>
        </div>
    </form>

{% endblock %}